{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{%block styles%}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" rel="stylesheet"> 
 
{%endblock%}
{%block content%}
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Ranga" rel="stylesheet">
<div class="jumbotron text-center info" style="background-color: whitesmoke; padding: 100px 25px; font-family: 'Indie Flower', cursive;">
    <h1><b><i>Here displays the  interview pitches :</i></b> </h1>
</div>
<div class="container" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}
