{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{%block styles%}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" rel="stylesheet"> 
 
{%endblock%}
{%block content%}

<div class="jumbotron text-center" style="background-color: whitesmoke; padding: 100px 25px; font-family: 'Indie Flower', cursive;">
    <h1><b><i>Here displays the  products pitches :</i></b> </h1>
</div>
<div class="container" style="font-family: 'Indie+Flower', cursive;">
    <hr>
    <div class="row">
        {{macro.displayPitches(pitches)}}
    </div>
</div>
{%endblock%}
